{% extends "layout.njk" %}
{% block content %}
<main class="container">
  <body>
    <img src="/images/Los_Pollos.png" alt="logo">
    <h1>About Us</h1>

    <p>Los Pollos Hermanos, a renowned fast-food chain, was founded in 1969 by the visionary entrepreneur Gustavo Fring. Known for its delicious and carefully crafted menu, Los Pollos Hermanos quickly gained popularity for its commitment to quality ingredients and exceptional customer service.</p>

    <h2>Founder: Gustavo Fring</h2>
    <p>Gustavo Fring, the mastermind behind Los Pollos Hermanos, dedicated himself to creating a unique dining experience. Born with a passion for culinary excellence, Fring's vision extended beyond ordinary fast food, aiming to provide customers with a taste of authentic flavors in a welcoming environment.</p>

    <h2>Headquarters: Albuquerque, New Mexico</h2>
    <p>Los Pollos Hermanos has its headquarters located in the vibrant city of Albuquerque, New Mexico. This strategic location allows the chain to embrace the rich cultural influences of the region while maintaining its commitment to delivering top-notch food and service.</p>

    <p>With a legacy rooted in Gustavo Fring's commitment to quality and a foundation built on the flavors of Albuquerque, Los Pollos Hermanos continues to be a beloved establishment, satisfying the cravings of patrons who appreciate the artistry of good food.</p>
    
  </body>
  </main>
  {% endblock %}
