{% extends "layout.njk" %}
{% block content %}
<main class="container">
  <body>
    <img src="/images/Los_Pollos.png" alt="logo">

    <section>
      <h2>Welcome to Los Pollos Hermanos</h2>
      <p>Indulge in a culinary journey of flavors at Los Pollos Hermanos, where passion meets perfection. Established in 1969 by the visionary Gustavo Fring, our fast-food chain has become synonymous with quality and a commitment to excellence.</p>
      <p>Explore our <a href="/menu"><b>menu</b></a> crafted with care, featuring delectable dishes that capture the essence of our rich heritage. From the sizzling Pollo Wings to the iconic Breaking Bad Burrito, each bite is a testament to our dedication to providing an unparalleled dining experience.</p>
      <p>Visit our locations in Albuquerque, New Mexico, and immerse yourself in the warm and inviting atmosphere of Los Pollos Hermanos. Whether you're a first-time visitor or a loyal patron, our doors are always open to welcome you with open arms and savory delights.</p>
      <p>Join us and discover why Los Pollos Hermanos is more than just a restaurant; it's a celebration of food, flavor, and the joy of sharing a great meal with those you cherish.</p>
  </section>
    
  </body>
  </main>
  {% endblock %}