body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  font-size: 1rem;
  place-items: center;
  background-color: #f3d70d;
}

.container {
  width: min(80ch, 100vh - 4rem);
  margin-inline: auto;
  color: #d8212c;
}

.region {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  font-weight: bold;
}

img {
  display: block;
  width: 50%;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}